 * {
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 body {
   width: 100%;
   height: 100vh;
   background-color: #ccc;
 }

 .container {
   width: 100%;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   text-align: center;
   color: #000;

 } 
 .title{ 
  font-size: 80px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid;
 }
 .display{
  color: purple;
  margin-left: 14px; 
  animation: display 6s linear infinite;
  opacity: 0;

 }
 @keyframes display{
  0%{margin-top: -400px; 
  opacity: 1;}
  6%{margin-top: -200px; 
  opacity: 0;}
  9%{margin-top: -200px; 
  opacity: 1;}
  15%{margin-top: -200px; 
  opacity: 1;}
  25%{margin-top: -200px; 
  opacity: 1;}
  27%{margin-top: -200px; 
  opacity: 0;}
  29%{margin-top: -200px; 
  opacity: 0;}
  30%{margin-top: -200px; 
  opacity: 1;}
  35%{margin-top: 0px; 
  opacity: 0;}
  65%{margin-top: 0px; 
  opacity: 1;}
  70%{margin-top: 200px; 
  opacity: 0;}
  100%{margin-top: 200px; 
  opacity: 1;}
 }


.box{
  width: 100%;
  height: 100vh;
  position: relative;
}
 .container1 {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted;

} 
.title1{ 
 font-size: 80px;
 font-weight: bold;
 line-height: 100px;
 height: 100px;
 text-align: left;
 display: flex;
 justify-content: center;
 align-items: center; 
}
.display1{
 color: purple;
 margin-left: 14px; 
 animation: display1 6s linear infinite; 
 position: relative;
 width: 100%;
 height: 100%; 

}
.abs{position: absolute; white-space: nowrap;}
.h1{animation: move1 9s linear infinite;}
.h2{animation: move2 9s linear infinite;}
.h3{animation: move3 9s linear infinite;}
.h4{animation: move4 9s linear infinite;}
.h5{animation: move5 9s linear infinite;}
  @keyframes move1{
    0%{opacity: 1;}
    5%{opacity: 1;}
    10%{opacity: 1;}
    15%{opacity: 1;}
    20%{opacity: 1;}
    25%{opacity: 0;}
    30%{opacity: 0;}
    35%{opacity: 0;}
    40%{opacity: 0;}
    45%{opacity: 0;}
    50%{opacity: 0;}
    55%{opacity: 0;}
    60%{opacity: 0;}
    65%{opacity: 0;}
    70%{opacity: 0;}
    75%{opacity: 0;}
    80%{opacity: 0;}
    85%{opacity: 0;}
    90%{opacity: 0;}
    95%{opacity: 0;}
    100%{opacity: 0;}
    
  }
  @keyframes move2{ 
    5%{opacity: 0;}
    10%{opacity: 0;}
    15%{opacity: 0;}
    20%{opacity: 0;}
    25%{opacity: 1;}
    30%{opacity: 1;}
    35%{opacity: 1;}
    40%{opacity: 1;}
    45%{opacity: 0;}
    50%{opacity: 0;}
    55%{opacity: 0;}
    60%{opacity: 0;}
    65%{opacity: 0;}
    70%{opacity: 0;}
    75%{opacity: 0;}
    80%{opacity: 0;}
    85%{opacity: 0;}
    90%{opacity: 0;}
    95%{opacity: 0;}
    100%{opacity: 0;}
    
  }
  @keyframes move3{ 
    5%{opacity: 0;}
    10%{opacity: 0;}
    15%{opacity: 0;}
    20%{opacity: 0;}
    25%{opacity: 0;}
    30%{opacity: 0;}
    35%{opacity: 0;}
    40%{opacity: 1;}
    45%{opacity: 1;}
    50%{opacity: 1;}
    55%{opacity: 1;}
    60%{opacity: 0;}
    65%{opacity: 0;}
    70%{opacity: 0;}
    75%{opacity: 0;}
    80%{opacity: 0;}
    85%{opacity: 0;}
    90%{opacity: 0;}
    95%{opacity: 0;}
    100%{opacity: 0;}
    
  }
  @keyframes move4{ 
    5%{opacity: 0;}
    10%{opacity: 0;}
    15%{opacity: 0;}
    20%{opacity: 0;}
    25%{opacity: 0;}
    30%{opacity: 0;}
    35%{opacity: 0;}
    40%{opacity: 0;}
    45%{opacity: 0;}
    50%{opacity: 0;}
    55%{opacity: 0;}
    60%{opacity: 1;}
    65%{opacity: 1;}
    70%{opacity: 1;}
    75%{opacity: 1;}
    80%{opacity: 0;}
    85%{opacity: 0;}
    90%{opacity: 0;}
    95%{opacity: 0;}
    100%{opacity: 0;}
    
  }
  @keyframes move5{ 
    5%{opacity: 0;}
    10%{opacity: 0;}
    15%{opacity: 0;}
    20%{opacity: 0;}
    25%{opacity: 0;}
    30%{opacity: 0;}
    35%{opacity: 0;}
    40%{opacity: 0;}
    45%{opacity: 0;}
    50%{opacity: 0;}
    55%{opacity: 0;}
    60%{opacity: 0;}
    65%{opacity: 0;}
    70%{opacity: 0;}
    75%{opacity: 0;}
    80%{opacity: 1;}
    85%{opacity: 1;}
    90%{opacity: 1;}
    95%{opacity: 1;}
    100%{opacity:1;}
    
  }